<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Deneme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AEF75AE1CB3B74D006C7A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AEF75C71CB3B74D006C7A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AEF75D21CB3B74D006C7A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
